@model IEnumerable<HomeCheck.Models.OS_MethodOfInspection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Option Set for Method of Inspection</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.methodOfInspection)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.methodOfInspection)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.methodOfInspectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.methodOfInspectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.methodOfInspectionID })
        </td>
    </tr>
}

</table>
